<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this taxi_request from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Dirección %><br />
    <%= f.text_field :address %>
  </div>
    <div class="field">
      <%= f.label :Codigo_verificación %><br />
      <%= f.text_field :verification_code%>
    </div>
  <div class="actions">
    <%= f.submit "Crea una solicitud" %>
  </div>
<% end %>
