<<<<<<< HEAD
<h1>"Visualizaci칩n de la gr치fica"</h1>

<div class="splitcontentright">
  <center>
    <%= tag("embed",
            :type => "image/png",
            :src => url_for(:controller => "services",
                            :action => "pie_graph")) %>
  </center>
</div>
=======
<h1>Listado de Servicios</h1>

<table>
	<tr>
		<td>Taxi id</td>
		<td>C칩digo de seguridad</td>
		<td>Direcci칩n</td>
		<td>Latitud</td>
		<td>Longitud</td>
		<td>Estado</td>
		<td>Propina</td>
	</tr>
<% @services.each do |s| %>
	<tr>
		<td><%= s.taxi_id %></td>
		<td><%= s.verification_code %></td>
		<td><%= s.address %></td>
		<td><%= s.latitude %></td>
		<td><%= s.longitude %></td>
		<td><%= s.state %></td>
		<td><%= s.tip %></td>
	</tr>
<% end %>
</table>
>>>>>>> ceduquey
