<div class="container">
	
	<h1>
		Panel de control de servicios
	</h1>
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Dirección</th>
				<th>Estado</th>
				<th>Propina</th>
				<th>Fecha</th>
			</tr>
		</thead>
	<% @services.each do |s| %>
		<tbody>
			<tr>
				<td><%= link_to s.id, s %></td>
				<td><%= s.address %></td>
				<td><%= render_state_label(s) %></td>
				<td><%= s.tip %></td>
				<td>
					<%= render_date(s.created_at) %>
				</td>
			</tr>
		</tbody>
	<% end %>
	</table>
</div>
