<%= form_for(@token) do |f| %>
  <% if @token.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@token.errors.count, "error") %> prohibited this token from being saved:</h2>

      <ul>
      <% @token.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>

  <div class="control-group">
    <%= f.label :company,"Compañia" ,:class=>"control-label"%>
    <div class="controls">
      <%= select_tag :company, options_from_collection_for_select(@companies, "id", "name"), :multiple=>false  %>
    </div>
   </div>
  <!--div class="field">
    <= f.label :company_id %><br />
    <= f.number_field :company_id %>
  </div-->
  <div class="field">
    <%= f.label :customer %><br />
    <%= f.text_field :customer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
