<h1>Listing taxi_requests</h1>

<table>
  <tr>
    <th>Address</th>
    <th>Confirm</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @taxi_requests.each do |taxi_request| %>
  <tr>
    <td><%= taxi_request.address %></td>
    <td><%= taxi_request.confirm %></td>
    <td><%= link_to 'Show', taxi_request %></td>
    <td><%= link_to 'Edit', edit_taxi_request_path(taxi_request) %></td>
    <td><%= link_to 'Destroy', taxi_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Taxi request', new_taxi_request_path %>
