
<%= form_for(@driver,html: {:class=>"form-horizontal",:role=>"form"}) do |f| %>

    <% if @driver.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

          <ul>
            <% @driver.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name,:class=>"col-lg-2 control-label" %>
      <div class="col-lg-8">
        <%= f.text_field :name,:class=>"form-control",:placeholder=>"nombre" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :cedula,:class=>"col-lg-2 control-label" %>
      <div class="col-lg-8">
        <%= f.text_field :cedula,:class=>"form-control",:placeholder=>"cedula" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :cel_number,:class=>"col-lg-2 control-label"  %>
      <div class="col-lg-8">
        <%= f.text_field :cel_number,:class=>"form-control",:placeholder=>"celular" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password,:class=>"col-lg-2 control-label"  %>
      <div class="col-lg-8">
        <%= f.password_field :password,:class=>"form-control",:placeholder=>"contraseña" %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :placa_taxi,nil,:class=>"col-lg-2 control-label", :for=>:placa_taxi%>
      <div class="col-lg-8">
        <%= text_field_tag :placa,nil,:class=>"form-control",:placeholder=>"contraseña" %>
      </div>
    </div>

  <div class="form-group">
      <%= f.label :Foto %><br />
      <%= f.file_field :image %>
    </div>

    <div class="control-group">
      <% if @companies.nil?
           puts "nil"
         else %>
          <%= f.label :companies, "Compañia", :class=>"control-label"%><br />
          <%= f.collection_select :company_ids, @companies, :id, :name, {}, :multiple => true%>
      <%end%>
    </div>

    <br>
    <div class="actions">
      <%= f.submit "Crear Conductor",:class=>"btn btn-primary" %>
    </div>
<% end %>