<p id="notice"><%= notice %></p>

<div class="container">

	<h3>Conductor</h3>
	<div class="row">
		<div class="col-md-2">
			<b>Name:</b>
		</div>
		<div class="col-md-10">
			<%= @driver.name %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<b>Cedula:</b>
		</div>
		<div class="col-md-10">
			<%= @driver.cedula %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<b>Taxi:</b>
		</div>
		<div class="col-md-10">
			<%= link_to @driver.taxi.installation_id, @driver.taxi %>
		</div>
	</div>
	<p>
	  <%= image_tag  @driver.image.url(:small)%>
	</p>
	
	<h4>Servicio</h4>
	<%= render_services @driver.taxi.services %>

	<%= link_to 'Editar', edit_driver_path(@driver) %> |
	<%= link_to 'Conductores', drivers_path %>
</div>
